<div id="about">
    <div id="about_inside">
    <h1>About Me</h1>
    <br>
    <img src="assets/images/1911.jpeg" alt="" id="me">
    <div id="par_me">
    <p id="aboutt">Hi! My name is Ivan and currently I am a student at Centennial College in Software Engineering program. My greatest goal now is to get experience in web-development and become a full-stack programmer!</p>
</div>
</div>
</div>