
    <article class="wrapper">
        <p>Hello, welcome to my Home Page!<br>
            Here is some information about me:<br>
            <button onclick="/server/views/content/about.ejs">ABOUT ME</button>

        </p>

      </article>
