<div class="lines">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  
<div class="page_content">
    
    <div class="inside">
        <h1>Ivan Tiutiukin</h1>
        <h3>Student, Developer</h3>
        <button>About Me</button>
    </div>
</div>
