<article class="wrapper">
  
<div class="page_content">
    
    <div class="inside">
        <p>
            Ivan Tiutiukin
        </p>
        <br>
        <p>Student - Centennial College <a href="https://www.centennialcollege.ca/" > <img src="assets/images/cen.png" id="cen" alt=""></a></p>
            <br>
            <p>Developer</p>
            <br>
            <a href="https://www.linkedin.com/in/ivan-tiutiukin-531312218/" > <img src="assets/images/link.svg" id="linkedin" alt=""></a>
    </div>
    <br>
    <br>
    <div class="text-box">
        <a href="/about" class="btn btn-primary" id="edd">About Me</a>
    </div>
</div>
</article>