<article class="wrapper">
  
<div class="page_content">
    
    <div class="inside">
        <p>
            Ivan Tiutiukin
        </p>
        <br>
        <p>Student, Developer</p>
            <br>
        
    </div>
    <button>About Me</button>
</div>
</article>