<article class="wrapper">
  
<div class="page_content">
    
    <div class="inside">
        <p>
            Ivan Tiutiukin
        </p>
        <br>
        <p>Student, Developer</p>
            <br>
        
    </div>
    <div class="text-box">
        <a href="#" class="btn btn-white btn-        animate">click me</a>
    </div>
</div>
</article>