<article class="wrapper">
  
<div class="page_content">
    
    <div class="inside">
        <p>
            Ivan Tiutiukin
        </p>
        <br>
        <p>Student - Centennial College <img id="cen" src="assets/images/cen.png" alt=""></p>
            <br>
        
    </div>
    <div class="text-box">
        <a href="/about" class="btn btn-white btn-        animate">About Me</a>
    </div>
</div>
</article>