
    <article class="wrapper">
        <div>
        <p>Hello, welcome to my Home Page!<br><br>
            Here is some information about me:<br><br>
            </p>
        </div>
        <br>
        <br>
        <div>
            <button onclick="/server/views/content/about.ejs">ABOUT ME</button>
             
        </div>
        
    </article>
    
      </article>
