<article class="wrapper">
  
<div class="page_content">
    
    <div class="inside">
        <h1>Ivan Tiutiukin</h1>
        <h3>Student, Developer</h3>
        
    </div>
    <button>About Me</button>
</div>
</article>