<div class="container">
    <img src="assets/images/web.jpg" alt="" class="serv">
    <img src="assets/images/web.jpg" alt="" class="serv">
    <img src="assets/images/web.jpg" alt="" class="serv">
</div>