<h1>My Services</h1>
<div class="container">
    
    <img src="assets/images/web.jpg" alt="" class="serv"> <p class="serpar">Web Development(MEAN STACK)</p>
    <br>
    <br>
    <img src="assets/images/c.webp" alt="" class="serv"> <p>Back-End C# Development</p>
    <br>
    <br>
    <img src="assets/images/android.png" alt="" class="serv"> <p>Android Apps Development(Xamarin)</p>
</div>