<h1>My Services</h1>
<div class="container">
    
    <img src="assets/images/web.jpg" alt="" class="serv">
    <br>
    <br>
    <img src="assets/images/c.webp" alt="" class="serv">
    <br>
    <br>
    <img src="assets/images/android.png" alt="" class="serv">
</div>