<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- CSS Section -->
    
    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="./content/app.css">
   
</head>
<body>
    <!-- Main Navigation Section --> 
    <header>
        <%- include('./components/header.ejs'); %>
    </header>

    <!-- Content Section -->
    <main>
        <%- include('./content/' + page  + '.ejs'); %>
    </main>

    <!-- Site-wide Footer Section -->
    <footer>
        <%- include('./components/footer.ejs'); %>
    </footer>
    
    <!-- JavaScript Section -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> -->
    <script src="js/scripts.js"></script>
    <script src="./jquery/dist/jquery.min.js"></script>
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/css/bootstrap.min.css"></script>
    <script src="./@fortawesome/fontawesome-free/js/all.min.js"></script>
    <script src="./Scripts/app.js"></script>
    <!-- Ivan Tiutiukin
    301192587
    COMP229
    Web Application Development
    Assignment 1 - Express portfolio 
06.06.22-->
    <script>
       window.addEventListener('DOMContentLoaded', event => {

const navbarToggler = document.body.querySelector('.navbar-toggler');
const responsiveNavItems = [].slice.call(
    document.querySelectorAll('#navbarResponsive .nav-link')
);
responsiveNavItems.map(function (responsiveNavItem) {
    responsiveNavItem.addEventListener('click', () => {
        if (window.getComputedStyle(navbarToggler).display !== 'none') {
            navbarToggler.click();
        }
    });
});

});


$('section.awSlider .carousel').carousel({
	pause: "hover",
  interval: 2000
});

var startImage = $('section.awSlider .item.active > img').attr('src');
$('section.awSlider').append('<img src="' + startImage + '">');

$('section.awSlider .carousel').on('slid.bs.carousel', function () {
 var bscn = $(this).find('.item.active > img').attr('src');
	$('section.awSlider > img').attr('src',bscn);
});
    </script>
</body>
</html>